<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="redialRedisServer" value="localhost" />
		<add key="redialInterface" value="宽带连接" />
		<add key="redialUser" value="051689023876093" />
		<add key="redialPassword" value="320322" />

		<add key="sshServer" value="192.168.1.1" />
		<add key="redialInterface" value="g0/1" />
		<add key="sshUser" value="admin" />
		<add key="sshPassword" value="MR2MKHjLg^Ze&amp;Yoq" />
	</appSettings>
</configuration>